

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	background-color: #DCDCDC;  /* light gray */
	margin-bottom: 0.4em;
	padding: 1em;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 65px auto;
}

ul p {
	font-style: italic;
	margin-left: 1.2em;
	font-weight: bold;
}

ul img {
	width: 100%;
	border-radius: 50%;
	border: 1px solid black;
}